.pure-menu-horizontal {
  background-color: #438DE5;
}

.pure-menu-link {
  color: #3738E6
}

.pure-menu-link:hover {
  background-color: #73AEE5;
}

.pure-menu-item:hover {
  background-color: #73AEE5;
}

.kartenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Hier wird die Zeilenumbruch-Eigenschaft hinzugefügt */
  gap: 20px; /* Hier kannst du den Abstand zwischen den Karten einstellen */
  border: 1px solid #0b1610;
  border-radius: "8px";
  padding: 20px;
  box-shadow: 0 4px 8px rgba(65, 23, 23, 0.9);
  max-width: calc(70% - 16px);
  margin-left: 10%;
  height: fit-content;
  word-wrap: "break-word";
  margin-bottom: 26px;
}

.karte {
  border: 1px solid #d21515;
  border-radius: "8px";
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: calc(100% - 16px);
  height: fit-content;
  word-wrap: "break-word";
  margin-bottom: 16px;
}

.summary {
  font-size: 18px;
  font-weight: bold;
}

.content {
  margin-top: 10px;
  font-size: 16px;
}

.warenkorbColumn {
  width: 100%;
  display: flex;

  align-items: center;
}

.pure-button {
  margin-left: 30px;
}

.findEx {
  display: "flex";
  justify-content: "center";
  align-items: "center";

  text-align: "center";
}
