.pure-menu-horizontal {
  background-color: rgb(85, 197, 154);
}

.pure-menu-link {
  color: rgb(215, 17, 17);
}

.pure-menu-link:hover {
  background-color: rgb(30, 161, 213);
}

.pure-menu-item:hover {
  background-color: rgb(213, 146, 30);
}

.kartenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Hier wird die Zeilenumbruch-Eigenschaft hinzugefügt */
  gap: 16px; /* Hier kannst du den Abstand zwischen den Karten einstellen */
  height: 40vh;
}

.karte {
  border: 1px solid #ccc;
  border-radius: "8px";
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: "200px";
  width: calc(33.33% - 16px);
  word-wrap: "break-word";
  margin-bottom: 16px;
}

.summary {
  font-size: 18px;
  font-weight: bold;
}

.content {
  margin-top: 10px;
  font-size: 16px;
}

.warenkorbColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
