# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.out
*.log
*.aux
.DS_Store
*.fdb_latexmk
*.synctex.gz
*.fls
*.toc
*.lof

certs/

package-lock.json
dokumentation/doku.synctex.gz
dokumentation/doku.fdb_latexmk
dokumentation/doku.toc
dokumentation/doku.pdf
dokumentation/doku.out
dokumentation/doku.fls
dokumentation/doku.fdb_latexmk
dokumentation/doku.aux
